/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
@font-face {
    /* latin */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.search-result {
    max-width: 1100px!important;
    width: 100%;
}
.custom_searchHeader .fl-icon {
	cursor: pointer;
}
 .flooringFinder section > .contCenter {
	 	    max-width: 1250px;
	 }
.max100 .fl-row-fixed-width{
	width: 100%;
}
.fl-builder-content-1359058 ul li a {
	display: inline-block!important;
}
.instock .product-row .fl-post-grid-post {
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.instock .product-row .fl-post-grid-post a {
	position: relative;
}
.product-row .fl-post-grid-post {
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gform_wrapper.gravity-theme .hour_minute_colon.below {
    align-items: center;
    padding-top: 20px;
}
.search-result .fl-button {
	text-decoration: none!important;
}
.fl-module .uabb-gf-style .gform_wrapper .gfield select {
    margin-top: 10px!important;
}
.gform_wrapper.gravity-theme .gfield_label {
    margin-bottom: 0px!important;
}
.fl-module .uabb-gf-style .gform_wrapper .gfield .gfield_time_ampm select {
	margin-top: 10px !important;
    padding: 15px 8px!important;
    text-align: left;
}
.gform_wrapper #field_32_36 .gfield_checkbox > div {
    flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
}
.gform_wrapper .gform_fields .gfield .gfield_captcha_input_container.math_medium input[type=text]{
    width: 80px!important;
}
.gform_wrapper #field_32_36 .gfield_checkbox {
    display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.custom_searchModule {
    display: none;
    z-index: 3;
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 5px 20px;
}
.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.facet_filters .facet-wrap>strong {
	color: #333!important;
	border-bottom: 2px solid #333!important;    
}
.fl-page{
	width: auto;
}
.searchHeader {
    display: none;
    position: absolute;
    z-index: 11;
    right: 0;
    left: 0;
}
.locationRow ul {
    list-style: none;
    padding-left: 0px;
}
.locationRow ul .store-opening-hrs li{
    display: flex;
    justify-content: space-between;
}
#menu-main-menu-2 .sub-menu{
	display: none !important;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://carpetsofdalton.com/wp-content/uploads/2022/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
}
footer .fa-phone-alt{
    display: none;
}
.fl-module-content .storename li .address a{
    color:#b7702f;
}
.fl-module-content .storename li .address a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 50% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
ul.social-icons {
    text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}
/*Instock plp css*/
.instock .product-variations1 .plp_box_orderBtn{
	display: block!important;
}
.instock .product-variations1 .plp_box_orderBtn{
	color: #fff;
    background-color: #848689!important;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}
.instock .product-variations1 .plp_box_orderBtn:hover, .instock .product-variations1 .plp_box_orderBtn:focus{
	color: #fff;
    background-color: #0079c1!important;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}
.instock .product-variations1 .plp_box_btn{
	margin-top: 10px!important;
}
.instock .product-variations1 .price{
	margin-top: 10px!important;
	color: #000000;
     font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
  font-size: 27.65px;
  letter-spacing: 0.29px;
  line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .product-swatch .product-swatch-inner .favProdPdp, .product-row .favProdPdp{
	cursor: pointer!important;
}
.instock .product-variations1 .price sub{
	    font-size: 16px;
    vertical-align: middle;
}
.instock .product-variations1 .price sup{
	    font-size: 16px;
}
.instock .product-row .fl-post-grid-post .instockImgPlp{
	position: absolute;
    top: 0;
    left: 4px;
	z-index: +3;
}
.instockPdp .product-attributes tr td{
	text-align: left!important;
}
/*Instock plp css end*/
.product-detail-layout-default .product-swatch {
    margin: 0px 0 0;
}
/*Instock pdp css start here */
.PDP_form .uabb-gf-style{
	padding-bottom: 0px!important;
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
	background-color: #f6f6f6;	
}
.PDP_form .uabb-tabs-nav ul li:not(.uabb-tab-current) a{
	background-color: #20A276!important;
	color: #fff!important;
}
.PDP_form .uabb-tabs-nav ul li:first-child{
	margin-right: 0px!important;
}
.PDP_form .uabb-tabs-nav ul li:last-child{
	margin-left: 0px!important;
}
.PDP_form .uabb-content{
	padding: 0px!important;	
}
.PDP_form .uabb-gf-form-desc{
	text-align: center!important;	
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email], .PDP_form textarea, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield select, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=text], .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=email]{
	border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0px!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email]{
	height: 48px!important; 
}
.PDP_form .mesurmentTool > div{
	padding: 0px!important;
}
.PDP_form .mesurmentTool{
	display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
}

.instockPdp input[type=submit]{
	border-radius: 5px!important;
	-webkit-border-radius: 5px!important; 
  	-moz-border-radius: 5px!important; 
  	border-radius: 5px!important; 
}

.PDP_form .mesurmentTool > div:last-child{
	margin-left: 6px!important;
}
.PDP_form  input[type="radio"], .PDP_form  input[type="checkbox"]{
	margin-top: 0px!important;
}
.PDP_form .liMeasur{
	position: relative;
}
.PDP_form .ginput_container_checkbox label{
	font-size: 12px!important;
	    font-family: "Roboto",sans-serif;
}
.PDP_form .ginput_container_checkbox .gfield_checkbox{
	display: flex;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label{
	padding-right: 6px!important;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li {
	flex: 1 1 auto;
}
.PDP_form textarea{
	height: 160px!important;
}
.instockPdp .product-colors > .row{
	display: flex;
    align-items: flex-end;
}
.instockPdp .share div{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
}
.instockPdp .product-box.pdp2-leftbox > .row{
	display: flex;
    align-items: flex-end;
}
/* .instockPdp .share span{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
} */
.instockPdp .share ul, .instockPdp .share ul li{
	margin-top: 0px!important;
	margin-bottom: 0px!important;

}
.instockPdp .MarkInstock{
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instockPdp .MarkInstock span{
	color: #20A276;
    font-family: "Josefin Sans";
    font-size: 20.65px;
    font-weight: bold;
    letter-spacing: 0.36px;
    line-height: 20px;
    margin-left: 8px;
    align-items: center;
}
.instockPdp .price {
    margin-top: 10px!important;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 27.65px;
    letter-spacing: 0.29px;
    line-height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.instockPdp .product-box h2{
	color: #000!important;
}
.instockPdp .product-box h1{
	color: #000!important;
}
.instockPdp .product-detail-layout-default .product-swatch{
	margin-top: 0px!important;
}	
.instockPdp .product-box.pdp2-leftbox{
	 padding-top: 50px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors, .instockPdp .product-attributes > h3 {
	text-align: left!important;
}
.instockPdp .slick-track .slide{
	margin-bottom: 0px!important;
	    padding: 0px 4px;
}
.product-swatch-inner #product-images-holder a .main-imgs img {
    position: absolute;
    bottom: auto!important;
    left: 0px;
    top: 0;
    right: 0px;
    margin: auto;
}
.instockPdp #product-images-holder .img-responsive{
	background-position: center top!important;
}   
.instockPdp .toggle-image-thumbnails {
	margin-top: 0px!important;
}
.instockPdp .productHolder{
	position: relative;
}
.instockPdp .product-swatch .product-swatch-inner .favProdPdp {
    position: absolute;
	top: auto!important;
    bottom: 50px!important;
    left: auto;
    right: 10%!important;
}
.instockPdp .product-detail-layout-default .product-variations{
	width: 100%;
	margin: 0 auto!important;
}
.instockPdp .button-wrapper-default a, .button-wrapper-default a.button{
	width: 100%;
}
.instockPdp .button-wrapper-default a{
	border-radius: 5px!important;
	-webkit-border-radius: 5px!important; 
  	-moz-border-radius: 5px!important; 
  	border-radius: 5px!important; 
}
.instock .product-grid.btn-grey>h4>span:nth-child(1) {
    min-height: 30px;
}
.instockPdp .share .need-share-button_button {
    background-image: url('https://carpetsofdalton-new.mm-dev.agency/wp-content/themes/bb-theme-child/images/share/share-icon.png');
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
}
.instockPdp .share .need-share-button_button:before {
    content: ""!important;
}
.instockPdp .product-variations img {
    max-height: 100px;
    width: auto;
    margin: 0 auto;
}
.row.prodAttWrap .product-swatch-inner {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 0px!important;
}
.row.prodAttWrap .product-swatch-inner h3{
 text-align: center!important;
  text-transform: uppercase;  
}

.prodImgs .product-swatch-inner {
    padding-bottom: 0px;
}
.row.prodAttWrap .product-attributes tr td, .row.prodAttWrap  .product-attributes tr th{
    padding-left: 50px;
    width:50%!important
}
.row.prodAttWrap .product-attributes tr th{
    color:#141414;
    font-size:14px;
    letter-spacing:0;
    font-weight:900;
    text-transform:uppercase
}
.brand-para-issue .uabb-infobox-text.uabb-text-editor p {
	min-height: 10px!important;
}
@media(max-width:767px){
 
}
@media(max-width: 1024px) {

}
/*Instock pdp css end here */
@media (max-width:1024px){
	.mega-menu .uabb-creative-menu .menu > li > a {
		font-size: 10px!important;
	}

	.mega-menu .uabb-cl-wrap .uabb-cl-heading a {
		font-size: 12px!important;
}
	.tabletCenter .fl-button-wrap {
   	 text-align: center!important;
	}
	.uabb-off-canvas-menu #menu-top-bar-ctas-1 li a span i {
		display: inline;
	}
	.instockPdp .product-swatch .product-swatch-inner .favProdPdp {
		right: 15%!important;
	}
	.instockPdp .product-detail-layout-default .product-swatch-inner{
		padding: 20px!important;
	}
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
}
@media (max-width:768px){
.areaRugCta .uabb-infobox-text-wrap {
    text-align: left;
}
.search-result > div{
    padding: 20px!important;    
}
	.instockPdp .product-colors > .row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.instockPdp .price {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.instockPdp .product-box.pdp2-leftbox {
		padding-top: 0px;
	}
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
/* 	.fl-row-content-wrap {
		text-align: center;
	} */
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
}
}
@media (max-width:767px){
	   .row.prodAttWrap .product-attributes tr td, .row.prodAttWrap  .product-attributes tr th{
			padding-left:10px;
			width:50%!important
		}
	.instockPdp .productHolder {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.instockPdp .productHolder > div:first-child{
		order: 2;
	}
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}
@media(max-width: 640px) {
	.PDP_form .mesurmentTool {
		position: static;
	}
	.instockPdp .fl-builder-content{
		padding: 0px!important;
	}
}
@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px){

    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}
.uabb-cl-wrap .uabb-cl-heading a{
	color: #010101;
}
header ul#menu-main_menu_header *{
	text-align: left !important;
}
header ul#menu-main_menu_header a,
header ul#menu-main_menu_header .uabb-infobox-title{
	color: #010101;
}
header ul .sub-menu ul li a{
	padding-left: 10px !important;
	font-weight: 600 !important;
}
header ul .sub-menu  ul li .uabb-cl-heading a{
	padding-left: 0px !important;
	font-weight: 700 !important;
}
.uabb-cl-style3 a::after {
    background: #010101 !important;
    height: 1px;
}
header .uabb-creative-menu.uabb-menu-default .menu > li > a{
	padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.z-index-5 {
    position: relative !important;
    z-index: 5 !important;
}


/* flooring finder css start here */
#alert_placeholder{
    width: 90%;
    margin: 0 auto;
}
.alert-danger {
    color: #a94442!important;
    background-color: #f2dede!important;
    border-color: #ebccd1!important;
    width: 90%;
    margin: 0 auto;
}

.alert {
    padding: 15px!important;
    margin-bottom: 20px!important;
    border: 1px solid transparent;
    border-radius: 4px;
}
.flooringFinder .card .pro_title h4{
	margin: 0px!important;
}
.flooringFinder .title h2{
	    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.pages h4{
	font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0px!important;
}
.Mainwrapper {
    height: 100%;
    width: 100%;

}
.flooringFinder .card .productImgWrap {
    position: relative;
}
.flooringFinder .card .productImgWrap > img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all linear 0.2s;
}
.productImgWrap > img:nth-child(1){
	z-index: 2;
}
.productImgWrap > img:nth-child(2){
	z-index: 1;
}

.card:hover .productImgWrap > img:nth-child(2){
	z-index: 3;
}
.card.shadow .productImgWrap > img:nth-child(2){
	z-index: 3;
}
h4.uabb-infobox-title-prefix ~ h2.uabb-infobox-title{
	font-size: 26px;
}
/* centerd display */
.flooringFinder .gridWrapper {
    text-align: center;
}
.flooringFinder  .fulldisplay{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flooringFinder  .fulldisplay > div{
    width: 100%;
}
.flooringFinder  .prodGrid{
    display: flex;
    justify-content: center;
}

.flooringFinder  .singlePro{
    padding: 6px 6px!important;
}
.flooringFinder  .title{
    padding: 40px 0px!important;
    color: #000;
}


.flooringFinder  .card {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  position: relative;
  transition: all 0.6s;
  border: 2px solid #C1C0BB;
}

.flooringFinder .card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #666666;
}
.flooringFinder .shadow{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #ff0000;
}
.flooringFinder .card.deactivate{
    opacity: 0.3;
}
.flooringFinder .card.deactivate{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.flooringFinder .pro_title {
    padding: 10px 12px!important;
    text-align: center;
    color: #000;
    
}
.flooringFinder .pro_title h4{
    text-transform: uppercase;
    font-size: 14px!important;
    font-weight: 600;
}
.flooringFinder .card .closebtn {
position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px 6px!important;
    font-size: 36px;
    line-height: 0.5em;
    margin-left: 50px;
    color: #000;
    background: #fff;
    text-decoration: none;
    opacity: 0;
  transition: all 0.6s;
}

.flooringFinder .card:hover > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .multiselect .card .checkbox{
    display: none;
}
.flooringFinder .card.deactivate:hover{
   box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
   border: 2px solid #C1C0BB;
}
.flooringFinder .card.deactivate:hover > .closebtn{
  opacity: 0;
}
.sample-product-grid .getcoupon-btn {
	font-size: 16px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    padding: 12px 24px !important;
    text-decoration: none !important;
    text-shadow: none !important;
    width: 100% !important;
	background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}
.sample-product-grid .getcoupon-btn span{
	 color: #fff !important;
}
.sample-product-grid .getcoupon-btn:hover{
	color: #000;
    background: #848484 !important;
}
.sample-product-grid .getcoupon-btn:hover span{
		color: #000 !important;
}


.flooringFinder .shadow > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .pages {
    color: #727171;
    background-color: #efefef;
    padding: 40px 0px!important;
}
.flooringFinder .pages span {
    font-size: 16px;
}


/* d*/
.flooringFinder  section {
    /* height: 100%; */
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0px 0px 60px 0px!important;
}

.flooringFinder section .container {
    margin: 0 auto!important;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contCenter{
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%,-50%); */
}

.flooringFinder  .buttonWrap{
 padding: 60px 0px 40px 0px!important;
}
.flooringFinder  .buttonWrap > a.button{
    color: #ffffff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #000000;
    border: 1px solid #000000;
    padding: 10px 24px!important;
    text-transform: uppercase;
    width: 250px!important;
    display: inline-block;
    text-decoration: none!important;
}
.flooringFinder  .buttonWrap > a.button:hover{
    cursor: pointer;
}
.flooringFinder  .wrap{
    flex-wrap: wrap;
}
.flooringFinder  .result .card .pro_title h4{
    line-height: 1.4em;
}
.flooringFinder  .result .card .pro_title h3{
    line-height: 1.6em;
    margin-bottom: 2px!important;    
}
.flooringFinder .result .card .pro_title .brand{
    letter-spacing: 1px;
        color: #a3a3a3;     
}
.flooringFinder .result .orderSamplebtn{
    display: block;
    padding: 10px 16px!important;
    background: #000;
    color: #fff;
    margin: 10px 0px!important;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.flooringFinder .result  .prodLink{
  text-decoration: underline;
  color: #666666;   
  font-size: 13px;
 }
.flooringFinder .buttonWrap .restartQuiz{
    display: inline-block;
} 
.flooringFinder .result .buttonWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flooringFinder .result .buttonWrap .restartQuiz{
    margin-top: 20px!important;
}
.flooringFinder .productImgWrap {
    overflow: hidden;
    height: 250px;
    max-width: none;
    width: 100%;
    min-height: 250px;
}

.flooringFinder .productImgWrap > img {
    min-height: 100%;
    width: 100%;
}
.flooringFinder section{ 
    display: none;
} 
.flooringFinder .active{
    display: block;
}
.progressBar{
	width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
    background-color: #f4f4f4;
}

.progressBar .bar{
	padding: 12px;
    background-color: #f00000;
    width: 16%;
}

section[data-section=typeOf] .progressBar .bar{
    width: 32%;
}
section[data-section=designStyle] .progressBar .bar{
    width: 48%;
}
section[data-section=room] .progressBar .bar{
    width: 64%;
}
section[data-section=impThing] .progressBar .bar{
    width: 80%;
}
section[data-section=color] .progressBar .bar{
    width: 100%;
}
.typeOfCarpet,
.typeOfWood,
.typeOfTile{
	display: none;
}
.hidden{
	display: none;
	pointer-events: none;
}
.hidden > *{
	pointer-events: none;
}
.flooringFinder .singleselect .card .checkbox {
    display: none;
}
.columnUp .gform_footer{
	padding-right: 15px!important;
}
.p0.text-left {
	padding: 0px!important;
}
.registerationForm .ur-field-item input[type=text], .registerationForm .ur-field-item input[type=password], .registerationForm .ur-field-item input[type=email], .registerationForm .ur-field-item select {
    height: 50px!important;
}
.registerationForm .field-radio div > ul  {
	padding-left: 0px!important;
}
.registerationForm .field-radio div > ul input[type=radio]{
	width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
.ur-frontend-form .ur-button-container .ur-submit-button {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 45px;
}
.headerLocation ul{
    list-style: none;
    padding-left: 0px;
}
.headerLocation .storename .address a p {
    margin-bottom: 0px;
}
.headerLocation .storename .phone  {
    margin-top: 12px;
}
.headerLocation .storename a {
    color: #444!important;
}
@media(min-width: 1200px){
.flooringFinder .col-lg-3 {
    width: 20%!important;
}
}
@media(min-width: 768px){

.columnUp{
	position: relative;
    z-index: 10;
}

	
.fl-module .uabb-gf-style {
    padding-right: 5px!important;
}
}

@media(max-width: 768px){
.flooringFinder .pro_title {
    min-height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .FooterRow #menu-footer-products li, #menu-copyrights li {
 	text-align: center!important;
 }
.signinrow .fl-row-content-wrap {
    text-align: left!important;
}
.buttonIssue .gform_footer input[type=submit]{
	    width: 350px;
    max-width: 100%;
}

.flooringFinder .pages {
    padding: 0px 0px!important;
}
.flooringFinder .pages > div{
    padding: 12px 0px!important;
}
.flooringFinder .prodGrid {
    display: block!important;
}
.flooringFinder .contCenter{
    position: static;
    top: 50%;
    left: 50%;
    -ms-transform: none;
    transform: none;
        display:block;
}
	.fl-module-menu  .menu a{
		    padding-top: 6px;
	}
.flooringFinder .singlePro{
    padding: 20px 20px!important;
}
.flooringFinder section {
    height: auto;
}
.fl-module-menu ul#menu-copyright-bar-menu.fl-menu-horizontal,
.fl-module-menu ul#menu-flooring-menu.fl-menu-horizontal,
.fl-module-menu ul#menu-locations.fl-menu-horizontal{
     text-align:center !important;
 }
 ul#menu-locations li{
     padding: 5px 0;
 }
 div.fl-module-dual-button .uabb-dual-button .uabb-horizontal {
     flex-direction: row;
 }
 div.fl-module-dual-button .uabb-dual-button {
    justify-content: center;
}
.uabb-dual-button .uabb-btn-horizontal{
    margin:10px;
}
.max-width-issue{
    max-width: 400px;
    margin: 0 auto; 
}
	.uabb-image-carousel img {
    width: auto !important;
    height: auto !important;
    max-width: 400px;
    margin: 0 auto;
}
	.uabb-image-carousel img{
		height: 300px !important;
		width: 300px !important;
	}
	
.max360 img{
	max-width: 360px!important;
	display: block;
	margin: 0 auto;
}	
.max500 img{
	max-width: 500px!important;
	display: block;
	margin: 0 auto;	
	width: 100%;
}
.gform_wrapper.gravity-theme .gfield input.medium, .gform_wrapper.gravity-theme .gfield select.medium {
    width: 100%!important;
}
}
@media (min-width: 766px) and (max-width: 768px){
	.contCenter.container {
  	  width: 766px;
	}
/* 	.topBarRes .fl-col-group > .fl-col:nth-child(3), .topBarRes .fl-col-group > .fl-col:nth-child(4){
	width: 30%!important;
} */
.topBarRes .menu > li {
    display: inline-block;
}
}
@media (max-width: 768px){ 
.topBarRes .menu > li {
    display: inline-block;
}
}


/* flooring finder css end here */


@media(max-width:500px){
.flooringFinder .pro_title {
    min-height: auto;
}
.fl-module .uabb-gf-style .gform_wrapper .gfield .gfield_time_ampm select {
    padding: 15px 15px!important;
	line-height: 2;
    min-height: 32px;
}
.store-opening-hrs-container ul.store-opening-hrs li {
    padding: 10px 10px 10px 10px;
    list-style: none;
}
	h1.uabb-infobox-title{
		font-size: 38px !important;
	}
	h2.uabb-infobox-title{
		font-size: 32px !important;
	}
	.uabb-imgicon-wrap ~ .uabb-infobox-title-wrap h2.uabb-infobox-title{
		font-size: 16px !important;
	}
	h3.uabb-infobox-title{
		font-size: 32px !important;
	}
}